mat-form-field{
    width: 23%;
    padding: 0px 10px;
    font-family: monospace;
}
.wdt100{
    width: 100%;
}

mat-table{
    margin-top: 30px;
    font-family: monospace;
}
mat-card{
    border-radius: 0px;
}
mat-card-actions{
    display: flex;
    justify-content: right;
}
mat-card-actions button{
    padding: 5px 20px;
    margin: 0px 20px;
}
.btnConfirm{
    background: #abb1db;
    color: white;
}
mat-card-actions > button{
    font-family: monospace;
}
